// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
 /* nav ul{
    max-height: 0px;
    background: #fff;
}
nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
} */
.menu-icon i{
    display: inline-block;
    color: #000;

}}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }





body{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}

.header-top{
    width: auto;
    height: auto;
    padding-top: 20px;
    background-image: url(/img/)
    
}

 .sticky-wrapper .site-navbar{
    border-bottom: 1px solid #efefef;
  
 }


.site-navbar{
   /* position: fixed;
   float: right; */
  
   margin: 0;
   padding: 0;
   
}

nav ul{
   list-style: none;
   background: rgba(0,0,0,0);
   overflow: hidden;
   margin: 0;
   padding: 0;
   text-align: center; 
   color: #fff;
   transition: 1s;
 }

 nav ul li{
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    
}

nav  li a{
   text-decoration: none;
   color:#7f8c8d;
   font-size: 18px;
}

.menu-icon{
    width: 100%;
    height: 50px;
    background:transparent;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 14px;
    cursor: pointer;
    color: #000;
    /* display: block; */

}

.wine_1:before {
    content: "";
    background: #f3f4f5;
    top: 5%;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
    z-index: -1;

}


.wine_1 .sketch{
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.wine_1 .sketch span{
    color: grey;
}
 

.wine_1 img{
width: auto;
height: 300px;
}

/*--------------- ADD CARD------- */
/* .wine-actions{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.wine-actions:hover{
    visibility: visible;
} */





/* SECTION-2 */

.hero-2{
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    /* margin: 10px 0px; */
    background-attachment: fixed;
    background-position: center ;
}

.hero-2:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: #222;
    opacity: .3;
    border-bottom-right-radius: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero-2 .col{
   margin:250px;
   bottom: 50px;
   text-align: center;
   color: aliceblue;
   
}

.hero-2 .sub-title{
font-size: 1.5rem;
font-weight: 300;
text-transform: uppercase;

}


.hero-2 h2{
font-size: 2rem;
font-weight: 900;
text-transform: uppercase;
}



/* section-3 */

.testimony img{
    width: 80px!important;
    border:4px solid #930077;
    margin-bottom: 30px; 
    border-radius: 50%;
    margin-left:auto;
    margin-right: auto;
    /* vertical-align: middle; */
    
}

.testimony {
    display: block;
    /* background-color: #bdc3c7; */
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 5px 10px;
}

.testimony .text-primary{
    color:#930077 !important;
    text-align: center;
}

/* footer */
.footer {
    position: relative;
    font-size: .85rem;
    text-align: center;
    padding: 7rem 0;
    border-top: 1px solid #fff;
}

.footer .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sosial-media{
    margin-bottom: 50px;
}
.sosial-media a{
   position: relative;
   /* text-align: center; */
   display:inline-block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #8e44ad;
   color:#ffffff;
   top:0;
   margin-bottom: 15px;
   transition: .3s all ease;
 }

 .sosial-media a>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 .sosial-media a:hover{
    color:#f1c40f;
   
 }

 .section{
     position: relative;
 }
 
 .intro-section{
background-size: cover;
position: relative;
background-position: center;
 }

 .intro-section.container .row{
height: 100vh;
min-height: 700px;
 }

 .owl-style .owl-nav .owl-prev,
 .owl-style .owl-nav .owl-next{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     width: 40px;
     height: 40px;
     background: #fff;
 }
 .owl-style .owl-nav .owl-prev{
     left: 0;
 }
 .owl-style .owl-nav .owl-next{
     right: 0;
 }
 .owl-style .owl-nav .owl-prev > span,
 .owl-style .owl-nav .owl-next > span{

    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

 }
.owl-dots{
    text-align: center;
}
 .owl-dot{
     background-color: #8e44ad!important;     
    border:1px solid #8e44ad!important;
     /* border-radius: 50%; */
     text-align: center;
     width: 20px;
     height: 5px;
     margin-right: 5px;
 }
 .owl-dot.active{
    background-color: #ffffff!important;
    border:1px solid #8e44ad!important;
}